
header{width: 100%; position: fixed; top: 0;}
// 네비게이션
#fp-nav {
  ul li a span { display: none !important; }
  .fp-show-active{opacity: 1 !important;}

  ul li {
    text-align: right;margin: 24px 0 !important; height: 24px; width: 150px;

    .fp-tooltip {
      display: block !important; opacity: 0.6 !important; right: 20px !important;width: auto !important;transition: all 0.3s ease;font-size: 14px !important; color: #6e6e6e;
    }
    a.active{color: #000;}
  }
}
#fp-nav.fp-show-active a.active+.fp-tooltip{color: #000; opacity: 1!important;}

body:not(.fp-responsive) .fp-overflow{height: 100vh; display: flex; align-items: center; justify-content: center;}

.circle_wrap{
    margin-bottom: 64px;
    p{text-align: center; margin-top: 28px; font-size: 18px; span{color: #1B76FF; font-weight: 500;}}
    .circle{width: 350px;aspect-ratio: 1/1; background: #eee; border-radius: 50%; position: relative; 
        p{font-family: 'blacksword'; text-align: center;position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); margin: 0; font-size: 8vw; color: #1B76FF;}
    }
}

.home_scroll{text-align: center; position: absolute; bottom: 10px;
    p{margin: 0; color: #5D5D5D;}
    i{font-size: 24px;}}
